<div class="search-select">
  <mat-form-field class="example-form-field" appearance="fill" color="accent">
      <mat-label>Clearable input</mat-label>
        <input #search matInput type="text" (change)="updateOptions(search.value)">
      <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> 
    <select #select [formControl]="formControl" [multiple]="type">
      <option *ngFor="let city of (cities$ | async)" [value]="city">{{ city }}</option>
    </select>
</div>